body {
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體";
	background-color: #000;
	color: #fff22b;
}
a {
	text-decoration: none;
	color: #fff;
}
ul, li, p, span, h1, h2, h3{
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 0;
}
.clearfix:after,
.clearfix:before {
	display: table;
	content: " ";
}
.clearfix:after { clear: both; }
.wrap {
	width: 704px;
	height: 364px;
	margin: 0 auto;
	background-color: #CCC;
	background-image: url(/images/launcher/bg.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.nav {
    width: 584px;
    height: 30px;
    font-size: 16px;
    padding-top: 10px;
    padding-left: 100px;
}
.nav a{
    margin-right: 40px;
}
.nav a:hover { color: #fff4d1; }

.banner {
    width: 380px;
	height: 260px;
	//margin: 0 auto;
    margin-top: 30px;
    margin-left: 20px;
}
.banner img {
    width: 380px;
	height: 260px;
	width: auto;
}
.unslider {
	overflow: hidden;
	position: relative; /*background-color: #000;*/
}
.unslider-nav{
    margin-top: -20px;
    margin-right: 5px;
    right: 0;
    position: absolute;
    z-index: 30;
}
.unslider-nav ol { text-align: left; }
.unslider-nav ol li {
	display: inline-block;
	width: 20px;
	height: 10px;
	margin: 0 2px;
	background-color: #fff;
    border: #333 1px solid;
	overflow: hidden;
	text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
	cursor: pointer;
}
.unslider-nav ol li.unslider-active {
	background-color: #333;
    border: #fff 1px solid;
	cursor: default;
}
.col-l {
    float: left;
    position: relative;
	width: 400px;
    height: 324px;
}
.col-r {
    float: left;
    position: relative;
	width: 304px;
    height: 324px;
}
/************* notice ***************************************************/
.notice {    
	width: 304px;
    height: 324px;
	//margin: 0 auto;
    font-size: 12px;
}
.notice .notice-top{
    display: block;
    margin-top: 30px;
    margin-left: 16px;
    padding: 10px 0;
    width: 270px;
    text-align: center;
    //float: right;
    color: #d6ad93;
    font-size: 14px;
    font-weight: bold;
    background: rgba(109, 94, 163, .3);
}
.notice ul {
    height: 120px;
    margin-top: px;
    padding: 3px 0 0 0;
    position: relative;
    clear: both;
}
.notice li {
	height: 30px;
	line-height: 28px;
	margin: 0 15px;
    border-bottom: rgba(109, 94, 163, .3) 1px solid;
}
.notice li a {
	color: #fff;
    //font-weight: 600;
	/*display: block;*/
}
.notice li a:hover { color: #fff4d1; }
.notice li a p {float: left;}
.notice li a span.time { float: right; }